{% extends "plots/base_plots.html" %}

{% load static %}

{% block title %}
Plots
{% endblock %}

{% block top_left %}
{% for country in countries %}
    <button class="btn btn-lg btn-secondary" id="id-exp-{{country.tag}}"
            onclick="toggle_country('{{country.tag}}')">{{country.name}}</button>
{% endfor %}
{% endblock %}

{% block body %}
<span id="country-list">
    {% for country in countries %}
    <span data-country-tag="{{country.tag}}"></span>
    {% endfor %}
</span>

<div style="height: 1200px;">
    {{cases_plot|safe}}
</div>

<script>
    addLoadEvent(on_plot_view_load());
</script>
{% endblock %}
